body {
    margin: 0;
    padding: 0;
    height: 100%;
    flex: 1;
    background: #333;
}
h1 {
    color: #eee;
}
.container {
    flex: 1;
    flex-direction: row;
}
.wrap-control {
    margin: 10px;
}
.wrap-canvas {
    /* flex: 1; */
}